.navbar-inverse {
    background-color: DarkSlateBlue;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    font-size: 22px;
}
.navbar-nav {
    float: left;
}
