.navbar-inverse {
    background-color: DarkSlateBlue;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    font-size: 22px;
}
.navbar-nav {
    float: left;
}
/* layout.css Style */
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.col-sm-9 .well .well {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    }